.my-login {  
    .log {
        padding: 10px;
        .us {
            @include border(0 0 1px 0)
        }
        .user {
            background: #fff;            
            padding-left: .18rem;
            padding-top: 0.15rem;
            padding-bottom: .12rem;
            margin-top:0.2rem;
            input {
                width: 1.96rem;
                border: none;
                background-color: transparent;
                font-size: 0.16rem;
                vertical-align: middle;
                outline: 0;
            }
            span {
                background-color: #b349bd;
                border: none;
                padding: .06rem .05rem;
                border-radius: .04rem;
                color: #333;
                font-size: 16px;
            }
            .active{
                background-color:#999;
            }
        }
    }
    .buttom {
        color: #000;
        background-color: #eee;
        border-radius: .08rem;
        margin: 0 .08rem;
        height: 0.5rem;
        margin-top:20px;
        line-height: .5rem;
        text-align: center;
        font-size: 18px;
    }
    .register-img{
        position: absolute;
        left:35%;
        background-size: contain;
        bottom:1.5rem;
        width: 1.4rem;
        height: .23rem;
        background-image: url("http://img.daling.com/assets/web-auth/logo.e8155d.png");
        background-size: contain;
    }
}