.app-register{
    @include flexbox();
    @include flex-direction(column);
    height:87%;
    width:100%;
    .page{
        width:100%;
        height:100%;

        .auth{
           
            margin-top:0.18rem;
            margin-left: 0.15rem;
            margin-right: 0.15rem;
            .phone{
                @include flexbox();
                @include flex-direction(row);
                background: #fff;
                margin-bottom: 0.06rem;
                border-radius: 0.045rem;
                overflow: hidden;
                input{
                    @include flexbox(); 
                    padding: 0.09rem 0 0.09rem 0.12rem;
                    line-height: 0.27rem;
                    width:100%;
                    border: 0;
                    outline: none;
                }
            }
            .picyz{
                @include flexbox();
                @include flex-direction(row);
                background: #fff;
                margin-bottom: 0.06rem;
                border-radius: 0.045rem;
                overflow: hidden;
                input{
                    @include flexbox(); 
                    padding: 0.09rem 0 0.09rem 0.12rem;
                    line-height: 0.27rem;
                    width:100%;
                    border: 0;
                    outline: none;
                }
                img{
                    width: .99rem;
                    margin-right: 0.03rem;
                    height: .3rem;
                    margin-top: 0.075rem;
                }

            }
            .sms{
                @include flexbox();
                @include flex-direction(row);
                justify-content: space-between;
                background: #fff;
                margin-bottom: 0.06rem;
                border-radius: 0.045rem;
                overflow: hidden;
                .dx{
                    @include flexbox(); 
                    width:2.13rem;
                    padding: 0.09rem 0 0.09rem 0.12rem;
                    line-height: 0.27rem;
                    
                    border: 0;
                    outline: none;
                }
                .hq{
                    line-height: 0.27rem;
                    border: 0;
                    outline: none;
                    color: #fff;
                    width:1.08rem;
                    margin-top: 0;
                    background: #b349bd;
                    text-align: center;
                }
            }
           
        }
        .tj{
            border-radius: 0.03rem;
            width: 3.426rem;
            margin-left: 0.15rem;
            margin-top: 0.21rem;
            font-size: 16px;
            color: #fff;
            background:#c5c5c5;
            border: 0;
            outline: none;
            height:.45rem;
            line-height: .45rem;
        }
    }
    .rlogo{
        
        bottom: 0;
        margin-left:.84rem;
        margin-bottom:.34rem;
        width: 1.5rem;
        height: .27rem;
        background-image: url("http://img.daling.com/assets/web-auth/logo.e8155d.png");
        background-size: contain;
    }
}

   
