.guess-list {
    dl:nth-child(2n) {
        float: right
    }
    dl:nth-child(2n+1) {
        float: left
    }
    dl {
        width: 49%;
        background: #fff;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
        dt {
            width: 100%;
            overflow: hidden;
            position: relative;
            >img {
                width: 100%;
                display: block;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
                position: relative;
                z-index: 0;
            }
            em {
                >img {
                    width: 0.25rem;
                    height: 0.28rem;
                    position: absolute;
                    top: 0px;
                    right: 0px;
                }
            }
        }
        dd {
           
            a {
                display: block;
                margin-bottom: 0.036rem;
                color: #39383b;
                box-sizing: border-box;
                -moz-box-sizing: border-box;
                -webkit-box-sizing: border-box;
                padding: 0 0.075rem;
                strong {
                    display: block;
                    color: #252525;
                    line-height: 100%;
                    padding: 0.085rem 0 0.045rem 0;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    overflow: hidden;
                    font-weight: 100;
                    font-size:12px;
                }
                em {
                    -webkit-line-clamp: 1;
                    word-break: break-all;
                    word-wrap: break-word;
                    color: #9f9f9f;
                    -webkit-box-orient: vertical;
                    display: -webkit-box;
                    overflow: hidden;
                    height: 0.2rem;
                    text-overflow: ellipsis;
                    font-size: 0.1rem;
                }
            }
            div {
                dispaly:flex;
                padding: 0 0.075rem;
                justify-content: space-between;
                line-height: 34px;
                span {
                    padding-right: 0.025rem;
                    display: -webkit-box;
                    strong {
                        color: #ff4a30;
                        line-height: 100%;
                    }
                }
                em{
                    display: inline-block;
                    margin-left:.64rem;
                    width:0.34rem;
                    height:.34rem;
                    border:1px solid #ccc;
                    border-radius: 0.06rem;
                    text-align:center;
                    line-height:.34rem;
                    color:#4f4f4f
                }
            }
            p {
                width: 100%;
                color: #9f9f9f;
                background: #f9f9f9;
                text-align: left;
                font-size: 0.1rem;
                height: 0.2rem
            }
        }
    }
}