@import "./core/reset.scss";
@import "./modules/footer.scss";
@import "./modules/common.scss";
@import "./modules/header.scss";
@import "./modules/boylist.scss";
@import "./modules/home.scss";
@import "./modules/ylist.scss";
@import "./modules/register.scss";
@import "./modules/beautiful.scss";
@import "./modules/goods.scss";
html,body{
    background:#f5f5f5;
}
